<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DhakiraProject"
        tools:targetApi="34">
        <activity
            android:name=".thefive.Tracking"
            android:exported="false" />
        <activity
            android:name=".thefive.Booster"
            android:exported="false" />
        <activity
            android:name=".thefive.registeration.Register6"
            android:exported="false" />
        <activity
            android:name=".thefive.registeration.Register5"
            android:exported="false" />
        <activity
            android:name=".thefive.registeration.Register4"
            android:exported="false" />
        <activity
            android:name=".thefive.registeration.Register3"
            android:exported="false" />
        <activity
            android:name=".thefive.registeration.Register2"
            android:exported="false" />
        <activity
            android:name=".thefive.registeration.Register1"
            android:exported="false" />
        <activity
            android:name=".thefive.ProblemSolving"
            android:exported="false" />
        <activity
            android:name=".thefive.Medications"
            android:exported="false" />
        <activity
            android:name=".thefive.Appointments"
            android:exported="false" />
        <activity
            android:name=".thefive.ARMainActivity"
            android:exported="false" />
        <activity
            android:name=".thefive.ToDoActivity"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>